<h1>New Article Form</h1>

<form method="POST" action="/articles">
    <label for="title"> Title 
        <input type="text" id="title" name="title">
    </label>

    <label for="description"> Description 
        <input type="text" id="description" name="description">
    </label>
    
    <label for="URL"> URL 
        <input type="text" id="URL" name="URL">
    </label> 

    <input type="submit" value="Add Article">
</form>