<h1>New Article Form</h1>

<form method="POST" action="/articles/new">
	<label for="title">Title:
		<input id="title" name="title" type="text" />
	</label>

	<label for="description">Description:
		<input id="description" name="description" type="text" />
	</label>

	<label for="url">URL:
		<input id="url" name="url" type="text" />
	</label>

	<input type="submit" value="Add Article" />
</form>